{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% if object %}Editar Paciente{% else %}Adicionar Paciente{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
</head>
<body>
    <div class="container">
        <h1>{% if object %}Editar Paciente{% else %}Adicionar Paciente{% endif %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Salvar</button>
        </form>
        <a href="{% url 'paciente_list'%}" class="button">Voltar</a>
    </div>
</body>
</html>
